name: telemetry-app
services:
  telemetry-app:
    image: 'hrushik09/telemetry-app'
    container_name: telemetry-app
    restart: unless-stopped
    environment:
      - DB_URL=jdbc:postgresql://telemetry-db:5432/telemetry
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - KAFKA_BOOTSTRAP_SERVERS=telemetry-kafka-broker:9092
    ports:
      - '8080:8080'
    depends_on:
      telemetry-db:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M